body{
	background-color: #94bce6;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	margin: 0;
	padding: 0;
	font-family: Helvetica, arial, sans-serif;
	color: #534e4e;
	overflow-x:hidden;
}

#container{
	padding: 10px;
	margin: 10px;
}

.container-wrap{
    left: 0;
    text-align: center;
    top: 50%;
    width: 100%;
}

#first{
    padding-top: 200px;
}

#second{
    margin-top: 600px;
}

#third{
    margin-top: 900px;
    padding-bottom: 300px;
}

