body{
	background: url("img/img1.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
	transition: background-image 0.5s;
	-webkit-transition: background-image 0.5s;
	margin: 0;
	padding: 0;
	font-family: Helvetica, arial, sans-serif;
	color: #ddc80a;
	overflow-x:hidden;
}

#container{
	padding: 10px;
	margin: 10px;
}

.container-wrap{
    left: 0;
    text-align: center;
    top: 50%;
    width: 100%;
}

#first{
    padding-top: 200px;

}

#second{
    margin-top: 600px;
}

#third{
    margin-top: 900px;
    padding-bottom: 300px;
}

